@use "variables" as *;

.separator-a {
  background: $primary-gradient;
  width: 90%;
  margin: .5em auto;
  opacity: .6;
  height: 1px;
}

#projects {
  
}

.project-list {
  display: grid;
  grid-template-columns: 50% 50%;
}

.project {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;

  border: 1px solid $border-color;
  border-radius: 4px;
  box-shadow: 0 0 24px $shadow;
  // box-sizing: border-box;

  margin: .8em;
  min-height: 180px;

  background: var(--thumb);
  background-size: cover;
  background-position: 0 -3em;

  & > .project-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background:
      linear-gradient(
        20deg,
        $dark-l2 0%,
        rgba($dark-l2, .85) 30%,
        transparent 90%
      ), 
      linear-gradient(
        to top,
        rgba($dark-l2, .85) -10%,
        transparent 10%
      );

    & > :not(.project-thumb) {
      padding: 0 .6em;
    }
  
    & > p {
      margin: .5em;
    }
  
    // .project-thumb {
    //   // border-bottom: 1px solid;
    //   // margin-bottom: -25%;
  
    //   & img {
    //     width: 100%;
    //     height: 150px;
    //     object-fit: cover;
    //     object-position: center;
    //   }
    // }
  
    .project-heading {
      display: flex;
      align-items: center;
      margin: .5em;
  
      & > .project-title {
        font-size: 1.1em;
        font-weight: lighter;
        letter-spacing: .1ch;
        color: $primary;
        // @include text-gradient(0deg, #fc3a78, #b23ee0);
        margin: 0;
  
        & > a {
          text-decoration: none;
        }
      }
    }

  }

  & .label {
    color: $primary;
    // color: $dark-l2;
    // background: $primary-gradient;
  }
}

.project-labels {
  // flex-grow: 1;
  font-size: .9em;
  text-align: right;
  padding-bottom: .5em !important;
}

@media (max-width: 640px){
  .project-list {
    grid-template-columns: 100%;
  }
}