@use "variables" as *;
@use "home";
@use "projects";
@use "illustrations";
@use "tools";

:root {
  scroll-behavior: smooth !important;
  color-scheme: only dark !important;
  font-size: 0.9em;
}

::selection {
  background: $primary;
  color: $dark;
  -webkit-text-fill-color: $dark;
  // outline: 2px solid $primary;
}

a {
  color: $primary;
}

body {
  color: $light;
  background-color: $dark;
  font-family: 'Noto Sans JP', sans-serif; 
}

.placeholder-text {
  font-family: "Flow rounded";
}

@mixin border-corner-css() {

}

@mixin main-sizing() {
  margin: auto;
  max-width: 1080px;
}
$border-radius-size: 12px;

#main {
  @include main-sizing();
  position: relative;
  z-index: 10;
  background: $dark-l;

  border-radius: 0 0 $border-radius-size $border-radius-size;
  border: 1px solid $border-color;
  border-top: 0;
  box-shadow: 0 0 28px $shadow;

  padding: 1em 2em;
}
// #main > div:not(div:first-child) {
//   margin: 2em 0;
// }

.control-bar {
  @include main-sizing();
  height:2em;
  max-width: calc(1080px + 3em);
  $background-base: linear-gradient(
    to left,
    rgba($dark-l2, .65),
    rgba($dark, .8)
  );
  background:
    // linear-gradient(
    //   to right,
    //   $primary -20%,
    //   transparent 20%
    // ),
    $background-base
  ;

  // background: rgba($light, .6);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 15;

  display: flex;
  align-items: center;

  border-radius: $border-radius-size $border-radius-size 0 0;
  border: 1px solid $border-color;

  padding: .2em .5em;
  margin-top: -2.25em;

  --tint-color: $border-color;
  border-bottom-color: var(--tint-color);

  transition: .5s ease;

  will-change: border-top, border-radius;

  &.sticky {
    border-top: 0;
    border-radius: 0;
    // background: rgba($dark-l2, .8);
  }

  & .fa-hashtag {
    margin-left: 1em;
  }

  & #control-bar-title {
    flex-grow: 1;
    margin-left: .5em;
    font-family: "Fira code";
    letter-spacing: .25ch;
    text-transform: uppercase;
  }

  & > .control-bar-buttons {
    display: flex;
    align-items: center;

    & > .vertical-separator {
      display: inline-block;
      width: 2px;
      height: 1.8em;
      background: $border-color;
    }

    & > button {
      background: none;
      border: none;
      border-radius: 2px;
      // margin-left: .2em;
      padding: .5em;
      cursor: pointer;
      white-space: nowrap;

      & > .fa-xmark {
        color: $secondary;
        font-size: 1.2em;
      }

      &:hover {
        background: $light;
        color: $dark;
        // transform: scale(1.5);
      }
    }
  }
}


.hidden {
  display: none !important
}

.label {
  display: inline-block;
  padding: 3px 6px;
  margin: 4px 2px;
  white-space: nowrap;
  font-size: .92em;
  border-radius: 4px;
  // color: $label-fg;
  // background: $label-bg;
  height: 1.25em;

  & > img,
  & > svg {
    height: 1.25em;
    width: auto;
    margin: 0 .2em;
    vertical-align: top;
    fill: currentColor
  }
}

hr {
  background: $secondary;
  border: none;
  height: 2px;
}

@media (max-width: 1080px) {
  #main, .control-bar {
    border-right: none;
    border-left: none;
  }
}


@media (max-width: 500px) {
  #main {
    padding: 1em;
  }
  .section-inner{
    margin: 0 !important;
    border: none !important;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min-content;
  padding: .75em;
  height: 90%;
}

@keyframes opacity-anim {
  from {
    opacity: .5;
  }
  to {
    opacity: .9;
  }
}

.section-heading {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .9em;
  letter-spacing: .1em;
  word-spacing: .3em;
  @include border-bottom-gradient($primary-gradient);

    & h1:first-child {
      @include text-gradient(0deg, #3ae5f9, #2a8aec);
      color: $primary;
    }

    & .sub-text {
      margin-left: .5em;
      font-size: 1.5em;
      top: 1.5em;
      opacity: .7;
      color: $light;
      font-weight: 200;
      white-space: nowrap;
      // counter-reset: anim-delay;
      & > span {
        // counter-increment: anim-delay;
        // --delay: counter(anim-delay);
        // animation: opacity-anim .5s infinite alternate-reverse;
        // animation-delay: calc(var(--delay) * .5s);
      }
    }
}

.section-desc {
  margin-left: 1em;
}


.intro-title {
  font-size: 160%;
  color: $light;
  text-align: center;
  width: 100%;

  padding: 1.75em .5em;
  margin: auto;
  font-family: 'Silkscreen', cursive;
}.intro-title-greet {
  font-size: .65em;
   font-family: 'Noto Sans JP', sans-serif; 
}.intro-title-greet > s{
  opacity: .3
}

#tools .heading {
  color: $tertiary;
  margin: 0;
  text-align: right;
  letter-spacing: .3ch;
  font-weight: normal;
  padding-bottom: .5em;

  &.sub-heading {
    margin-left: 1em;
    font-size: .85em;
    color: lighten($tertiary, 30%);
  }
}
#tools .tool-stats {
  display: grid;
  grid-template-columns: auto 40%;

  height: fit-content;
}

#tools .tool-stats > div
{
  background: $dark-l;
  border: 1px solid $border-color;
  border-radius: 4px;
  box-shadow: 0 0 12px $shadow;
  padding: 1.2em 2em;
  margin: 1em;
}
.tool-data {
  display: grid;
  grid-template-columns: min-content auto;
  & > div {
    padding-bottom: .5em;
  }
}

#tools .label {
  margin: 0;
  margin-bottom: .5em;
  cursor: pointer;
}
.skill-info {
  margin: 1.2em 0 .5em 0;
  text-align: right
}
.skill-info > div, .skill-info .level {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
}
.skill-info > div:nth-child(2){
  margin: 0 .2em
}
.skill-info .level {
  border-radius: 4px
}






.gallery-grid {
  margin: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  & > .gallery-item {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    background: white;
    margin-bottom: 8px;
    margin-right: 8px;

    & a {
      height: 300px;
    }

    & img {
      height: 300px;
    }
  }
}

.gallery-item-info {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;

  & .title {
    display: block;
    position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
    transition: .2s ease;
    padding: .7em 1em;
    font-size: 1.1em;
    letter-spacing: .2ch;
    transform: translateY(100%);
    opacity: 0;
  }

  &:hover {
    outline: 1px solid $light;

    & .gallery-item-info {
      background: linear-gradient( 0deg, $dark 2%, transparent 80% );

      & .title {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}


#footer{
  position: relative;
  z-index: 10;
  width: 100%;
  background: none;
  color: $light;
  letter-spacing: .1ch;

  & > .section-inner {
    margin-top: 0;
    margin-bottom: 0;

    & > :last-child {
      padding: 1em;
      background: $dark-l;
      text-align: right;
      letter-spacing: .1em;
    }

    & > .footer-links-container {
      @include main-sizing();

      & > .footer-links {
        display: flex;
        padding: 1em .5em;
        margin: 1em 0;
        width: fit-content;

        background: rgba($dark, .15);
        backdrop-filter: blur(5px);
        border-radius: $border-radius-size;

        & > div {
          padding: .5em;
          padding-top: 0;

          & > a {
            display: block;
            margin: .5em 0;
          }
        }
      }
    }
  }
}



#lightbox {
  position: fixed;
  z-index: 999;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid red;
  backdrop-filter: blur(9px);
}

#lightbox > button {
  height: fit-content;
  margin: 2em;
}

#lightbox > .img-container {
  flex-grow: 1;
  margin: 3em;
}

#lightbox > .img-container img {
  max-width: 100%;
}


